server {
    listen 80 default_server;
    server_name _;

    location / {

      root /usr/share/nginx/html;
      index index.html;

      error_page 405 =200 $request_uri; # nginx 不允許靜態文件響應POST請求,所以加上這段重新導向

      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' 'http://localhost';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' '*';
        add_header 'Access-Control-Allow-Methods' 'PUT , OPTIONS';
        add_header 'Access-Control-Max-Age' 86400;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
      }
      add_header 'Access-Control-Allow-Origin' 'http://localhost';
      #add_header 'Access-Control-Allow-Headers' 'Content-Type';
      #add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
    }
}
